*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{

background:#f2f2f2;

}

header{

background:#1296f3;

padding:30px;

text-align:center;

color:white;

}

.container{

padding:30px;

}

.box{

width:500px;

margin:100px auto;

background:white;

padding:30px;

border-radius:10px;

}

select,
button,
input{

padding:10px;

margin:10px;

}

.paper{

background:white;

padding:20px;

margin-top:15px;

border-radius:10px;

box-shadow:
0 2px 8px rgba(
0,0,0,.1
);

}

.btns{

display:flex;

gap:10px;

margin-top:10px;

}